<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add to Database</title>
</head>
<body>
    <style>
        .container{
            margin: 0 auto;
        }
        .container input{
            display: block;
            margin: 30px 0 30px 0;
        }
    </style>
    <div class="container">
        <form method="post">
            <input type="text" name='title' placeholder="Название">
            <input type="number" name='price' placeholder="Цена">
            <textarea name="description"></textarea>
            <button type="submit">Отправить</button>
        </form>
    </div>
</body>
</html>