<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GenPC | Личный кабинет</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap_cabinet/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css_cabinet/Navbar-Centered-Links-icons.css') }}">
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
</head>

<body class="bg-dark">
    <nav class="navbar navbar-light navbar-expand-md py-3" style="background: #f8f9fa;">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="{{ url_for('index') }}"><span class="fs-2 fw-semibold">GenPC</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-3">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link active" href="{{url_for('contacts')}}">Контакты</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Доставка</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Отзывы</a></li>
                </ul><a href = "{{ url_for('cabinet') }}"><button class="btn btn-dark" type="button">Личный кабинет</button></a>
            </div>
        </div>
    </nav>
    <section class="position-relative py-4 py-xl-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="text-light">Личный кабинет</h2>
                    <p class="text-light w-lg-50">Добро пожаловать, {{current_user.login}}!</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-5" style="padding-bottom: 0px;margin-bottom: 0px;margin-left: 0px;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 d-lg-flex justify-content-lg-center">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Изменение данных</p>
                </div>
                <div class="card-body">
                    <form method = 'post'>
                        <div class="row">
                            <div class="col">
                                <div class="form-group mb-3">
                                    <div class="form-group mb-3"><label class="form-label" for="last_name"><br></label><label class="form-label" for="first_name"><strong>Логин</strong><br></label><input disabled class="form-control" type="username" placeholder="{{ current_user.login}}" name="login"></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-3"><label class="form-label" for="last_name"><br></label><label class="form-label" for="first_name"><strong>Эл. почта</strong><br></label><input class="form-control" type="email" placeholder="{{ current_user.email}}" name="email"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group mb-3"><label class="form-label" for="first_name"><strong>Прошлый пароль</strong><br></label><input class="form-control" name = 'old_password' type="password"></div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-3"><label class="form-label" for="last_name"><strong>Новый пароль</strong><br></label><input class="form-control" name = 'new_password' type="password"></div>
                            </div>
                        </div>
                        <div class="form-group mb-3"><button class="btn btn-primary btn-sm" type="submit">Сохранить изменения</button></div>
                    </form>
                    <div class="form-group mb-3"><a href = "{{ url_for('logout') }}"><button class="btn btn-primary btn-sm" type="submit">Выйти из аккаунта</button></a></div>
                </div>
            </div>
        </div>
    </section>
    {% if orders %}
         <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="text-light">Заказы</h2>
                    <p class="text-light w-lg-50">Готовые заказы, ожидающие подтверждения</p>
                </div>
            </div>
        {% for i in orders %}
            <div class="block_orders">
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col">
                    <div class="d-flex p-3">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary-light d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon sm"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-gpu-card">
                                <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1h1a.5.5 0 0 1 .5.5V4h13.5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5H2v2.5a.5.5 0 0 1-1 0V2H.5a.5.5 0 0 1-.5-.5Zm3 11h3.5v1a.5.5 0 0 1-.5.5H3.5a.5.5 0 0 1-.5-.5v-1Zm4 1v-1h4v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5ZM4 8a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm1.5-2.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5Zm6 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3ZM9 8a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0Z"></path>
                            </svg></div>
                        <div class="px-2">
                            <h5 class="text-light mb-0 mt-1">Видеокарта:&nbsp;{{ i.gpu }}</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex p-3">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary-light d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon sm"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                                <path d="M5 4C5 4.55228 4.55228 5 4 5C3.44772 5 3 4.55228 3 4C3 3.44772 3.44772 3 4 3C4.55228 3 5 3.44772 5 4Z" fill="currentColor"></path>
                                <path d="M9 4C9 4.55228 8.55228 5 8 5C7.44772 5 7 4.55228 7 4C7 3.44772 7.44772 3 8 3C8.55228 3 9 3.44772 9 4Z" fill="currentColor"></path>
                                <path d="M12 5C12.5523 5 13 4.55228 13 4C13 3.44772 12.5523 3 12 3C11.4477 3 11 3.44772 11 4C11 4.55228 11.4477 5 12 5Z" fill="currentColor"></path>
                                <path d="M17 4C17 4.55228 16.5523 5 16 5C15.4477 5 15 4.55228 15 4C15 3.44772 15.4477 3 16 3C16.5523 3 17 3.44772 17 4Z" fill="currentColor"></path>
                                <path d="M20 5C20.5523 5 21 4.55228 21 4C21 3.44772 20.5523 3 20 3C19.4477 3 19 3.44772 19 4C19 4.55228 19.4477 5 20 5Z" fill="currentColor"></path>
                                <path d="M5 20C5 20.5523 4.55228 21 4 21C3.44772 21 3 20.5523 3 20C3 19.4477 3.44772 19 4 19C4.55228 19 5 19.4477 5 20Z" fill="currentColor"></path>
                                <path d="M9 20C9 20.5523 8.55228 21 8 21C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19C8.55228 19 9 19.4477 9 20Z" fill="currentColor"></path>
                                <path d="M12 21C12.5523 21 13 20.5523 13 20C13 19.4477 12.5523 19 12 19C11.4477 19 11 19.4477 11 20C11 20.5523 11.4477 21 12 21Z" fill="currentColor"></path>
                                <path d="M17 20C17 20.5523 16.5523 21 16 21C15.4477 21 15 20.5523 15 20C15 19.4477 15.4477 19 16 19C16.5523 19 17 19.4477 17 20Z" fill="currentColor"></path>
                                <path d="M20 21C20.5523 21 21 20.5523 21 20C21 19.4477 20.5523 19 20 19C19.4477 19 19 19.4477 19 20C19 20.5523 19.4477 21 20 21Z" fill="currentColor"></path>
                                <path d="M5 12C5.55228 12 6 11.5523 6 11C6 10.4477 5.55228 10 5 10C4.44772 10 4 10.4477 4 11C4 11.5523 4.44772 12 5 12Z" fill="currentColor"></path>
                                <path d="M20 13C20 13.5523 19.5523 14 19 14C18.4477 14 18 13.5523 18 13C18 12.4477 18.4477 12 19 12C19.5523 12 20 12.4477 20 13Z" fill="currentColor"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 9C0 7.34315 1.34315 6 3 6H21C22.6569 6 24 7.34315 24 9V15C24 16.6569 22.6569 18 21 18H3C1.34315 18 0 16.6569 0 15V9ZM3 8H21C21.5523 8 22 8.44772 22 9V15C22 15.5523 21.5523 16 21 16H3C2.44772 16 2 15.5523 2 15V9C2 8.44772 2.44772 8 3 8Z" fill="currentColor"></path>
                            </svg></div>
                        <div class="px-2">
                            <h5 class="text-light mb-0 mt-1">Оперативная память:&nbsp;{{ i.ram }}</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex p-3">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary-light d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon sm"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-device-hdd">
                                <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2Zm2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4Zm8 1.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm0 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm-7.5.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1ZM5 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM11 7a3.001 3.001 0 0 1-2.215 2.896c.223-.344.435-.674.618-.96.144-.224-.115-.483-.34-.34-.558.359-1.287.829-1.954 1.27A3.001 3.001 0 0 1 8 4a3 3 0 0 1 3 3Zm1 0a4 4 0 0 1-3.937 4c-.537.813-1.02 1.515-1.181 1.677a1.102 1.102 0 0 1-1.56-1.559c.1-.098.396-.314.795-.588A4 4 0 0 1 8 3a4 4 0 0 1 4 4ZM8 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"></path>
                            </svg></div>
                        <div class="px-2">
                            <h5 class="text-light mb-0 mt-1">Накопитель:&nbsp;{{ i.storage }}</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex p-3">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary-light d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon sm"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-cpu">
                                <path d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"></path>
                            </svg></div>
                        <div class="px-2">
                            <h5 class="text-light mb-0 mt-1">Процессор:&nbsp;{{ i.cpu }}</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex p-3">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary-light d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon sm"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-battery-charging">
                                <path d="M9.585 2.568a.5.5 0 0 1 .226.58L8.677 6.832h1.99a.5.5 0 0 1 .364.843l-5.334 5.667a.5.5 0 0 1-.842-.49L5.99 9.167H4a.5.5 0 0 1-.364-.843l5.333-5.667a.5.5 0 0 1 .616-.09z"></path>
                                <path d="M2 4h4.332l-.94 1H2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h2.38l-.308 1H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2z"></path>
                                <path d="M2 6h2.45L2.908 7.639A1.5 1.5 0 0 0 3.313 10H2V6zm8.595-2-.308 1H12a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H9.276l-.942 1H12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.405z"></path>
                                <path d="M12 10h-1.783l1.542-1.639c.097-.103.178-.218.241-.34V10zm0-3.354V6h-.646a1.5 1.5 0 0 1 .646.646zM16 8a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8z"></path>
                            </svg></div>
                        <div class="px-2">
                            <h5 class="text-light mb-0 mt-1">Блок питания:&nbsp;{{ i.power }}</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex p-3">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary-light d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon sm"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-motherboard">
                                <path fill-rule="evenodd" d="M1 2a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-2H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 9H1V8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6H1V5H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 2H1Zm1 11V2a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v11a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1Zm9.5-11a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5Zm2 0a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5Zm-10 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-6Zm0 2a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-6ZM5 3a1 1 0 0 0-1 1h-.5a.5.5 0 0 0 0 1H4v1h-.5a.5.5 0 0 0 0 1H4a1 1 0 0 0 1 1v.5a.5.5 0 0 0 1 0V8h1v.5a.5.5 0 0 0 1 0V8a1 1 0 0 0 1-1h.5a.5.5 0 0 0 0-1H9V5h.5a.5.5 0 0 0 0-1H9a1 1 0 0 0-1-1v-.5a.5.5 0 0 0-1 0V3H6v-.5a.5.5 0 0 0-1 0V3Zm0 3.5V4h3v3H5v-.5Zm6.5 4.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-2Z"></path>
                            </svg></div>
                        <div class="px-2">
                            <h5 class="text-light mb-0 mt-1">Материнская плата:&nbsp;{{ i.motherboard }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center" style="margin-top: 50px;margin-bottom: 100px">
                    <p class="btn btn-danger" type="button" style="--bs-primary: #0067ff;--bs-primary-rgb: 0,103,255;">#{{ i.id }}</p>
                </div>
            </div>
            </div>
    {% endfor %}
    {% endif %}
    <script src="{{ url_for('static', filename='bootstrap_cabinet/js/bootstrap.min.js') }}"></script>
{{ toastr.include_toastr_js() }}
</body>
</html>