<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GenPC | Личный кабинет</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap_cabinet/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css_cabinet/Navbar-Centered-Links-icons.css') }}">
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
</head>

<body class="bg-dark">
    <nav class="navbar navbar-light navbar-expand-md py-3" style="background: #f8f9fa;">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="{{ url_for('index') }}"><span class="fs-2 fw-semibold">GenPC</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-3">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link active" href="{{url_for('contacts')}}">Контакты</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Доставка</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Отзывы</a></li>
                </ul><a href = "{{ url_for('cabinet') }}"><button class="btn btn-dark" type="button">Личный кабинет</button></a>
            </div>
        </div>
    </nav>
    <section class="position-relative py-4 py-xl-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="text-light">Личный кабинет</h2>
                    <p class="text-light w-lg-50">Добро пожаловать, {{current_user.login}}!</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-5" style="padding-bottom: 0px;margin-bottom: 0px;margin-left: 0px;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 d-lg-flex justify-content-lg-center">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Изменение данных</p>
                </div>
                <div class="card-body">
                    <form method = 'post'>
                        <div class="row">
                            <div class="col">
                                <div class="form-group mb-3">
                                    <div class="form-group mb-3"><label class="form-label" for="last_name"><br></label><label class="form-label" for="first_name"><strong>Логин</strong><br></label><input disabled class="form-control" type="username" placeholder="{{ current_user.login}}" name="login"></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-3"><label class="form-label" for="last_name"><br></label><label class="form-label" for="first_name"><strong>Эл. почта</strong><br></label><input class="form-control" type="email" placeholder="{{ current_user.email}}" name="email"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group mb-3"><label class="form-label" for="first_name"><strong>Прошлый пароль</strong><br></label><input class="form-control" name = 'old_password' type="password"></div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-3"><label class="form-label" for="last_name"><strong>Новый пароль</strong><br></label><input class="form-control" name = 'new_password' type="password"></div>
                            </div>
                        </div>
                        <div class="form-group mb-3"><button class="btn btn-primary btn-sm" type="submit">Сохранить изменения</button></div>
                    </form>
                    <div class="form-group mb-3"><a href = "{{ url_for('logout') }}"><button class="btn btn-primary btn-sm" type="submit">Выйти из аккаунта</button></a></div>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='bootstrap_cabinet/js/bootstrap.min.js') }}"></script>
{{ toastr.include_toastr_js() }}
</body>
</html>